@use "bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

.sidebar {
  height: 100vh;
  background-color: $secondary_color !important;
  
  * {
    color: black !important;

  }
}

.scroll {
  max-height: 100vh;
  overflow-y: auto;
} 