@use "bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
/* 
First Section 
************************************************************************************************** */

.jumboContainer {
    height: calc(100vh - 15vh);
    
    .jumboVideo {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: calc(100vh - 15vh);
    }

    h1.text-capitalize.Title {
    font-size: 4.5em;
    width: 70%;
    padding: 1rem 0.5rem;
    background-color: $secondary_color;
    box-shadow: -20px 22px 0px 7px $brand_color;
-webkit-box-shadow: -20px 22px 0px 7px $brand_color;
-moz-box-shadow: -20px 22px 0px 7px $brand_color;
}
}





/* CARD ANIMATA */
