.accountImage {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(114, 12, 12, 0.493);
}

.dashboardJumbo {
  background-image: url("../img/dashboard-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: grey;
}
.dashboardJumbo span.titleBox {
  background-color: #fece2c;
  -webkit-box-shadow: -7px 11px 0px 2px #3b3b3b;
  padding: 0.5rem 1rem;
}